@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@layer colors {
  :root {
    --color-white: #fff;
    --color-black: #000;
  }
}

@layer fonts {
  :root {
    --font-roboto: 'Roboto', Arial, Helvetica, sans-serif;
  }

  h1 {
    letter-spacing: -1.75px;
  }

  h2 {
    letter-spacing: -1.25px;
  }

  h3 {
    letter-spacing: -.75px;
  }
}

@layer global {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    max-width: 100%;
    font-family: var(--font-roboto);
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }

  p {
    line-height: 1.5;
  }

  a {
    text-decoration: none;
  }

  ul li {
    list-style-type: none;
  }
}